body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.eader{
  position: sticky;
  top: 0;
  z-index: 999;
}
.eader ul{
  display: flex;
  /* width: 100%; */
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  list-style: none;
  margin: auto;
  background-color: aqua;

}
.heade{
  margin-left: 80px;

}
.heade h2{
  margin-top: 5px;
  padding-top: 25px;
}
.Training{
  background-color: #f1f1f1;
  height: 625px;
}
.contents{
  display: flex;
  position: relative;
  width: 100%;
  

}
.six{
  position: absolute;
  width: 43%;
  margin: 25px 0 10px 80px;
  clip-path: polygon(84.5% 0, 100% 94%, 100% 100%, 0 100%, 0 0);
  z-index: 5;
  height: 500px;
  background-color: #fff;
}

.six p{
  width: 85%;
}
.six h3 {
  text-align: center;
}
.green_border{
  border-bottom: 5px solid rgb(26, 194, 26);
  width: 200px;
  margin: auto;
  /* margin-left: 160px; */
}
.yellow_border{
  border-bottom: 5px solid yellow;
  width: 150px;
  margin: auto;
  margin-top: 5px;
}
.six p{
  font-size: 16px;
  width: 450px;
  line-height: 1.8;
  /* text-align: justify; */
  margin-left:30px ;
}
.six_1{ 
   background-image: url('./images/training-bg.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 570px;
  background-size: 800px 550px;
  width: 53%;
  height: 550px;
}
.yellow_belt{
background-image: url('./images/yellowbelt.svg');
background-repeat: no-repeat;
background-size: contain;
width: 475px;
height: 155px;
margin-left: 50px;
margin-top: 25px;
}
.yellow_belt p{
  width: 75%;
  margin-left: 50px;
}
.comp{
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 50px;
}
.comp h3{
  margin-left: 50px;
  margin-top: 25px;
}
.comp img{
  margin-top: 20px;
}
.green_belt{
  background-image: url('./images/greenbelt.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 475px;
  height: 155px;
  margin-left: 120px;
  margin-top: 15px;
  color: aliceblue;
}
.green_belt p{
  width: 75%;
  margin-left: 50px;
}
.black_belt{
  background-image: url('./images/blackbelt.svg');
background-repeat: no-repeat;
background-size: contain;
width: 475px;
height: 155px;
margin-left: 200px;
margin-top: 20px;
color: aliceblue;
}
.black_belt p{
  width: 75%;
  margin-left: 50px;
}
.waste{
  display: flex;
}
.waste ul{
  list-style: none;
}

.waste ul li{
  padding: 5px;
}


.why{
  background-color: #f1f1f1;
  margin: 0px;
}
.whyus{
  width: 90%;
  height: 600px;
  margin: auto;
  font-size: 15px;
}
.us h1{
  margin-left: 20px;
}
.us p{
  line-height: 1.8;  
  color: #787878;
  text-align: left;
  width: 95%;
  margin: auto;
}
.cards{
  display: flex;
}
.Bespoke{
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 22%;
  height: 275px;
  box-shadow: 0 0px 5px #c1c1c1;
  background: #FFFFFF;
}
.Bespoke img{
  margin-top: 25px;
}
.Bespoke img:hover{
  animation: rotateimg 1s linear 1;
  cursor: pointer;
}
@keyframes rotateimg{
from{
  transform: rotate(0deg);
}
to{
  transform: rotate(359deg);
}
}
.Bespoke h3{
  margin: 10px 0;
}
.Bespoke p{
  font-size: 16px;
  color: #787878;
  padding: 5px 6px;
}
.viewbutton button{
  width: 250px;
  height: 50px;
  margin: 20px 0 10px 15px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #1f5e88;
  color: #fff;
  cursor: pointer;

}
.viewbutton button:hover{
  background-color: yellow;
  color: black;
}

.Training_calendar{

  background: #FAFAFA;


}
.Head {
  padding: 50px 0px;
}
.caland{
  height: 4000px;
  width: 90%;
  margin: auto;
}
.Selector{
  height: 100px;
  background-color: #fff;
  box-shadow: 0 0px 5px #c1c1c1;
  padding: 10px;
  position: sticky;
  top: 45px;
  z-index: 998;
}
.selectors p{
  margin: 0;
}
.selectors{
  display: flex;

}
.selectors select{
  height: 50px;
  width: 370px;
  margin: 10px 10px 5px 0px;

}
.go button{
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 28px 0 0 0px;
  background-color: #1f5e88;
  box-shadow: 0 5px 5px 0 #c1c1c1;
  cursor: pointer;
  border: none;
}
.left_module{
  background-color: #fff;
  position: sticky;
  top: 180px;
  width: 300px;
  height: 600px;
  margin-top: 20px;
  border-radius: 10px;
}
.left{
  display: flex;
  position: relative;
}
.left_1{
  display: flex;
}
.left_2 img{
  padding-top: 10px;
}
.left_1 img{
  width: 40px;
  height: 40px;
}

.virtual{
  width: 120px;
  height: 100px;
  background-color: #007d3d;
  margin: 10px 0px 10px 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.virtual_1:hover{
  background: #007d3d;
  cursor: pointer;
  color: #fff;
}
.virtual_1:hover svg{
  stroke: #fff;
  stroke-width: .7px;
}
.virtual img{
  margin-top: 10px;
}
.virtual h3{
  margin-top: 10px;
  margin-left: 0px;
  color: #f1f1f1;
}
.left_2{
  display: flex;
}
.left_2 img{
  width: 40px;
  height: 40px;
}
.virtual_1{
  background: #FFF;
  box-shadow: 0 0 10px #e0e0e0;
  width: 120px;
  height: 100px;
  margin: 10px 0px 10px 20px;
  text-align: center;
  border-radius: 10px;
}

.virtual_1 svg{
  margin-top: 10px;
}
h3{
  /* margin: 10px 0 0 0; */
}
.virtual_1 :hover{
  background-color: #007d3d;
  cursor: pointer;
}
.Guarantee{
  background-color: #0fbd63;
  width: 300px;
  height: 270px;
  margin-top: 30px;
  border-radius: 10px;
}
.Guarantee h2{
  padding: 20px 20px 0 20px;
  font-size: 25px;
  color: #FFF;
}
.Guarantee p{
  width: 250px;
  line-height: 25px;
  margin: 0 0 0 20px;
  color: #FFF;
}
.Guarantee button{
  margin: 35px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #007d3d;
  font-weight: 700;
  color: #FFF;
  width: 260px;
  height: 50px;
}
.Guarantee button:hover{
  cursor: pointer;
  background-color: orange;
}

.right_module{

width: 870px;
height: 225px;
background: #FFF;
box-shadow: 0 0 10px #e0e0e0;
margin-left: 50px;
margin-top: 20px;
border-radius: 10px;
}

.header{
  margin: 20px 25px 0 25px ;
  padding-top: 5px;
}
.header h2{
  margin: 15px 0 0 0px;
  color: #1f5e88;
}
.Lean_content{
  display: flex;
  margin-top: 10px;

  height: 100px;
}
.virtu{
  width: 250px;
  margin-left:10px;
  margin-right: 50px;
  margin-top: 0px;
}
.virtu h2{
  margin: 10px 0 0 0;
  color: black;
}
.virtu p{
  margin: 5px 0 0 0 ;
  color: #007d3d;
  font-size: 14px;
  font-weight: 600;
}
.virtu_2{
  width: 100px;
  margin-left:25px;
  margin-right: 25px;
}
.virtu_2 img{
  width: 40px;
  height: 40px;
  margin-top: 15px;
}
.virtu_2 p{
  margin-top: 10px;
  
}
.date{
  display: flex;
  width: 100px;
  margin: 0 10px;
}
.date_1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 60px;
  height: 50px;
  margin-right: 20px;
  margin-top: 25px;

}
.date_1 span{
  border: 1px solid grey;
  width: 50px;
}
.dat{
  margin-top: 5px;
  margin-bottom: 5px;
}
.day{
  margin-top: 5px;
  margin-bottom: 5px;
}
.date_2{
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 40px;
  margin-right: 25px;
  margin-top: 10px;
}
.date_2 span{
  border: 1px solid grey;
  width: 40px;
  margin-left: -5px;
}
.month{
  margin-top: 15px;
  margin-bottom: 5px;
}
.year{
  margin-top: 5px;
}
.pric{
  margin-left: 70px;
  text-align: center;
  /* margin-top: 10px; */
}
.pric p{
  font-size: 18px;
  color: #787878;
  font-weight: 600;
  text-decoration: line-through;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.pric h2{
  margin-top: 0px;
  color: #007d3d;
  font-weight: 800;
}
.enquire{
  margin-top: 40px;
  margin-left: 80px ;
}
.enquire button{
  font-weight: 700;
  font-size: 18px;
  color: #f1f1f1;
  width: 120px;
  height: 40px;
  background: #007d3d;
  border: none;
  border-radius: 5px;
}
.enquire button:hover{
  cursor: pointer;
  background-color: #1f5e88;
}
.border{
  border-bottom: 2px solid grey;
  width: 820px;
  margin-top: -5px;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.book_now button{
  font-weight: 700;
  font-size: 18px;
  color: black;
  width: 120px;
  height: 40px;
  background: yellow;
  border: none;
  border-radius: 5px;
}
.book_now button:hover{
  cursor: pointer;
  background-color: #007d3d;
  color: #FFF;

}
.duration{
  display: flex;
  justify-content: center;
  align-items: center;
}
.duration h3{
  color: #1f5e88;
}
.duration p{
  margin-left: 5px;
  margin-top: 20px;
  font-size: 16px;
}
.view_more p{
  color: red;
  border-bottom: 1px solid red;
  margin-left: 40px;
  cursor: pointer;
}
.contact{
  width: 100px;
  display: flex;
  margin-left: 120px;
  justify-content: center;
  align-items: center;
}
.contact i{
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  color: #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007d3d;
  cursor: pointer;
}

.Solutions{
  width: 90%;
  height: 500px;
  margin: auto;
}
.content{
  display: flex;

}
.para{
  width: 51%;
  line-height: 25px;
  letter-spacing: .5px;
}
.para button{
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: yellow;
  border: none;
  border-radius: 5px;
}
.para button:hover{
  background-color: #007d3d;
  color: #FFF;
  cursor: pointer;
}
.solu img{
  width: 540px;
  height: 404px;
  margin: 0 0 0 50px;
}

.let_us{
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #1E1E1E;
  color: #FFF;
  justify-content: space-between;
  align-items: center;
}
.know{
  margin-left: 70px;
  
}
.call_us{
  display: flex;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
  width: 500px;
  height: 120px;
  background-color: #007d3d;
  align-items: center;
}
.call_icon img{
  margin-left:100px;
}
.call_num{
  margin-left: 20px;
}
.call_num p{
  margin-top: -10px;
  font-weight: 600;
}
.call_icon h2{
  margin-top: -20px;
}

.worldwide{
  width: 90%;
  height: 600px;
  margin: auto;
}
.conte{
  display: flex;
  margin-top: -20px;
}
.world_content{
  width: 100%;
  font-size: 14px;
  letter-spacing: .7px;
  line-height: 1.5;
  margin-top: 0;
}
.location{
  width: 70%;
  margin-top: 20px;
}
.location_1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.location_2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.lond{
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 95px;
  padding: .5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  border: 2px solid #d1d1d1;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-image: url('./images/location-bg.svg');
}
.lond img{
  width: 40px;
  height: 40px;
}
.lond h3{
  margin: 10px 0 0 0;
}
.All_locations{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.All_locations button{
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  background-color: #1f5e88;
  border: none;
  border-radius: 5px;
  color: #FFF;
}
.All_locations button:hover{
  cursor: pointer;
  background-color: yellow;
  color: #1E1E1E;
}

.Blogs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22%;
  margin: auto;
  margin-top: 20px;
  margin-left: 50px;
  box-shadow: 0 0 5px #c1c1c1;
  background-color: #fff;
  padding: 1.5rem;
}
.recent{
  margin-top: -20px;
}
.news_1 , .news_2{
  display: flex;
}
.news_1 p ,.news_2 p{
  padding-left: 20px;
  width: 80%;
  font-size: 15px;
  line-height: 17px;
  color: #007d3d;
  font-weight: 600;
}

.news_1 img , .news_2 img{
  margin-top: 15px;
  width: 80px;
  height: 60px;
  border-radius: 30px 0px;
}

.date__1{
  display: flex;
  justify-content: center;
  font-size: 14px;
  border-bottom: 1px solid #787878;
  margin-top: -10px;
}
.date__2{
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: -10px;
}
.date__1 p , .date__2 p{
  margin: 5px 0 5px 75px;
  color: #787878;
  font-size: 13px;
  font-weight: 600;
}
.date__1 h4 , .date__2 h4{
  margin: 5px 0 5px 40px;
  color: #007d3d;
  cursor: pointer;
}


.view_blog{
  display: flex;
  justify-content: center;
  align-items: center;
}
.view_blog button{
  margin-top: 25px;
  font-size: 18px;
  font-weight: 600;
  width: 200px;
  height: 50px;
  background-color: yellow;
  border: none;
  border-radius: 5px;
}
.view_blog button:hover{
  color: #FFF;
  background-color: #007d3d;
  cursor: pointer;
}

.our_clients{
  width: 100%;
  height: 400px;
  background: #f5f4f4;
  margin: auto;

}
.clients{
  width: 90%;
  margin: auto;
}
.clients h2{
  padding-top: 50px;
  font-size: 30px;
}

.client{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 220px;
  border-radius: 50%;
}
.client_1 p{
  display: flex;
  font-size: 20px;
  font-weight: 600;
  color: #787878;
}
.client_2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 0 10px #c1c1c1;
}
.client_1 img{
  width: 45px;
  height: 45px;
}
.waves{
  width: 100%;
  height: 100%;
  background: url('./images/waves.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-top: -250px;
}
.Final_footer{
  background: #1B1819;
}
.final_foot{
  display: flex;
  width: 95%;
  height: 400px;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  color: #FFF;
  margin-top: -50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.final_foot p:hover{
  color: yellow;
  cursor: pointer;
}
.final_foot h2{
  color: yellow;
}
.final_foot i{
  margin-right: 10px;
  color: #FFF;
  width: 15px;
  height: 15px;
  padding: 3px;
  font-size: 15px;
  background: #0fbd63;
  border-radius: 50%;
}
.cont_1{
  width: 25%;
  letter-spacing: .5px;
  line-height: 25px;
}
.social{
  display: flex;
  width: 70px;
  height: 50px;
}
.social img{
  margin: 5px;
}
.social img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    border-radius:50%;
    cursor: pointer;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.cont_1 img{
  width: 150px;
}

.cont_2 span{
  background: #007d3d;
  color: #0000;
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 50%;
}
.cont_3 button{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 160px;
  height: 40px;
  background-color: yellow;
  border: none;
  border-radius: 5px;
}
.cont_3 button i{
  background: #000000;
}
.cont_3 button:hover{
  cursor: pointer;
  background: #007d3d;
  color: #FFFFFF;
}
.cont_4{
  width: 25%;
  letter-spacing: .5px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.blog_1{
  border-radius: 25px 50px 50px 0px;
  background: #242424;
  padding: 5px 15px;
  line-height: 20px;
  margin-bottom: 5px;
}
.blog_1 p{
  margin-top: 15px;
  font-size: 14px;
  }
.blog_2{
  border-radius: 25px 50px 50px 0px;
  background: #242424;
  padding: 5px 15px;
  /* line-height: 20px; */
  margin-top: 25px;
}
.blog_2 p{
margin-top: 15px;
font-size: 14px;
}
.dates{
  color: #0fbd63;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 15px;
}

.end{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #f1f1f1;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.side_contact{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50%;
}
.phon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  right: 0;
  color: #FFF;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background: #ff7700;
}